<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="title">
        <h1>WELCOME</h1>
    </div>
    <div id="main">

        <div id="Register" class="box">
            <h4>Don't already have an Account?</h4>
            <p>Sign up <a href="">here</a></p>
        </div>

        <div id="Login" class="box">
            <h4>Already have an Account?</h4>
            <p>Log in <a href="">here</a></p>
        </div>

    </div>
</body>
</html>