html { 
    background: url('/assets/background/bgHome.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'FF Mark W05', sans-serif;
  }

body{
    position: relative;
    top: 50%;
}

#title {
    text-align: center;
}

#main{
    display: flex;
    justify-content: space-around;
}

.box{
    background-color: #ece8e1;
    border-radius: 10px;
    width: 20%;
    height: 15%;
}

h4{
    text-align: center;
}

p{
    text-align: center;
}