html { 
    background: url('/assets/background/bgLogin.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'FF Mark W05', sans-serif; 
}

body {
    padding: 1%;
}

/* #container {
   display: flex;
   flex-direction: column;
} */

h2 {
    text-align: center;
}

#userIn, #pwIn {
    background-color: lightgrey;
    border: 0px solid white;
    border-radius: 3px;
    height: 40px;
    padding: 5px 10px;
}

#userIn:active {
    border: 1px solid black;
}

#formDiv {
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;

    width: 30%;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 30%;
    left: 8%;
}

#formBox {
    display: flex;
    flex-direction: column;
}

#submitButton {
    width: 45%;
    padding: 2%;
    align-self: center;
    border-radius: 10px;
    border: 2px solid lightgray;
    background-color: white;
    font-size: 15px;
}

#submitButton:hover {
    background-color: skyblue;
    transition: 0.7ms;
}

a {
    align-self: center;
    text-decoration: none;
    color: gray;
    padding: 5px;
    font-size: 15px;
}

a:hover {
    color: black;
    text-decoration: black;
}


@media screen and (min-width: 1800px) {
    #formDiv {
        width: 25%;
        position: absolute;
        top: 30%;
        left: 10%;
    }
}