body{
    background-color:antiquewhite   
}
legend {
    text-align: center;
}
#container {
    display: flex;
    justify-content: center;
}
#formBox{
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
input{
    margin-bottom: 10px;
}
#button{
    justify-self: center;
}
#msg{
    text-align: center;
}
